html {
  height: 100%;
  padding: 30px 0;
  background: rgb(237, 237, 237);
}

body {
  width: 595px;
  min-height: 100%;
  padding: 60px;
  margin: 0 auto;
  position: relative;
  font-family:
    simsun,
    serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: white;
  /* border: 1px solid rgb(210, 213, 216); */
}
